{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Schedule Transfer Request</title>

<link rel="stylesheet" href="{% static 'css/ScheduleTransfer.css' %}">
<link rel="stylesheet" href="{% static 'css/Design.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>

<!----------------------------------------------------------------Navigation----------------------------------------------------------------------->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="https://usjr.edu.ph/"target="_blank"><img src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Requests
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'viewrequestfac' id=data.Id_Number.Id_Number %} "> View Request</a>
                  <a class="dropdown-item" href="{% url 'makeupclass' id=data.Id_Number.Id_Number %}">Make-up Class</a>
                  <a class="dropdown-item" href="{% url 'cashadvance' id=data.Id_Number.Id_Number  %}">Cash Advance</a>
                  <a class="dropdown-item" href="{% url 'requestcertificate' id=data.Id_Number.Id_Number %}">Certificate</a>
                </div>
                </li>
                       
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other Transcations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'fileleave' id=data.Id_Number.Id_Number %}">File a Leave</a>
                <a class="dropdown-item" href="{% url 'roomtransfer' id=data.Id_Number.Id_Number %}">Room Transfer</a>
                <a class="dropdown-item" href="{% url 'scheduletransfer' id=data.Id_Number.Id_Number  %}">Schedule Transfer</a>
                <a class="dropdown-item" href="{% url  'attendancereport' id=data.Id_Number.Id_Number %}">Attendance Report</a>
                <a class="dropdown-item" href="{% url 'memorouting' id=data.Id_Number.Id_Number %}">Memo Routing</a>
                <a class="dropdown-item" href="{% url 'risograph' id=data.Id_Number.Id_Number %}">Requisition for Risograph</a>
                </div>
            </li>
  
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' id=data.Id_Number.Id_Number %}">&nbsp;Home</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="#">&nbsp;About</a>
              </li>
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &nbsp;<i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'profile' id=data.Id_Number.Id_Number %}">Profile</a>
                  <a class="dropdown-item" href="login/login.html">Logout</a>
  
                </div>
              </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid p-0"></div>
      <div class = "col1"></div>
  </section>      

<!---------------------------------------------------------------HEADER-------------------------------------------------------------------------------------------->
<div id="cover">        
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p></p>
      <h1>SCHEDULE TRANSFER REQUEST</h1>
    </div>
  </div>
</div>
<!----------------------------------------------------------------FORM------------------------------------------------------------------------------------------>
<form action="" method="post" onsubmit="myFunction()" >
  {% csrf_token %}
<center>
<div class = "container transfer"> 
<label><b><u>Please choose one of the following options:</u></b></label>
<div class="form-check">
    <input class="form-check-input" type="radio" name="transfer" id="Permanentsched" value="option1" required>
    <label class="form-check-label" for="Permanentsched">
       Permanent Schedule Transfer
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="transfer" id="Temporarysched" value="option2" required>
    <label class="form-check-label" for="Temporarysched">
    Temporary Schedule Transfer
  </div>
    </label>
<p></p>
     <center>
        <div class="form-group">
        <button type="submit" class="btn btn-info"><center>SUBMIT</center></button>
        </div>
      </center>
  </div>
</center>
</form>
<!-------------------------------------------------------------------------------FOOOTER---------------------------------------------------------------------->
<div id="cardheader" class="card-header"></div>
  <footer id="pagefooter" class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">  
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <br>  
          <center><img src="{% static 'images/logomain.png' %}"></center> 
          <p></p>
          <h5 class="text-uppercase font-weight-bold"><center>USJR MIS</center></h5>
          <center>MIS-Based Document Resources<br> Management System</p></center><p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">     
            <p></p>
            <br>
            <i id="home" class="fa fa-home" aria-hidden="true"></i> 
            Magallanes Street, 6000, Cebu City, Philippines <p></p>
            <i id="envelope" class="fa fa-envelope-open" aria-hidden="true"></i>
            &nbsp; external@usjr.edu.ph <p></p>
            <i id="phone" class="fa fa-phone" aria-hidden="true"></i>
            &nbsp;(63-32) 253-7900
          </div>
      </div>
    </div>
  </footer>
</body>
</html>