<!DOCTYPE html>
<html>
<head>
<title>Schedule Transfer - Temporary</title>

<link rel="stylesheet" href="CSS files/Schedule Transfer - Temporary.css">
<link rel="stylesheet" href="CSS files/Design.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/fonts.css"></link>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>

<!----------------------------------------------------------------NAVBAR----------------------------------------------------------------------->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="Dashboard.html"><img src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Requests
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">View Request</a>
                  <a class="dropdown-item" href="makeup-class.html">Make-up Class</a>
                  <a class="dropdown-item" href="Cash Advance.html">Cash Advance</a>
                  <a class="dropdown-item" href="Request Certificate.html">Certificate</a>
                </div>
              </li>
                     
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Transcations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="File a Leave.html">File a Leave</a>
                <a class="dropdown-item" href="Room Transfer choose.html">Room Transfer</a>
                <a class="dropdown-item" href="ScheduleTransfer.html">Schedule Transfer</a>
                <a class="dropdown-item" href="AttendanceReport.html">Attendance Report</a>
                <a class="dropdown-item" href="Memo Routing.html">Memo Routing</a>
                <a class="dropdown-item" href="Risograph.html">Requisition for Risograph</a>
              </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Dashboard.html">&nbsp;Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">&nbsp;About</a>
              </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &nbsp;<i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="View Profile.html">Profile</a>
                  <a class="dropdown-item" href="login/login.html">Logout</a>

                </div>
              </li>
          </ul>
        </div>
      </nav>
</section>      

<!----------------------------------------------------------------GRID------------------------------------------------------------------------------------------>
<div class="container-fluid p-0"></div>
<div class = "col1"></div>
<!---------------------------------------------------------------HEADER-------------------------------------------------------------------------------------------->
<div id="cover">        
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p></p>
      <h1>INSTITUTIONAL SCHEDULE INFORMATION FORM (TEMPORARY)</h1>
    </div>
  </div>
</div>
<!-------------------------------------------------------------FORMS------------------------------------------------------------------------------------------------>
<div class = "container contact-form">
<form>
    <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="date"><b>Date of Notification:</b></label>
            <input type="date" class="form-control" id="date" placeholder="">
          </div>
          <div class="form-group col-md-4">
            <label for="Department"><b>Department:</b></label>
            <select id="Department" class="form-control" placeholder="...">
            <option disabled selected hidden>Choose..</option>
             <option>Arts & Sciences</option>
              <option >Engineering</option>
              <option>Commerce</option>
              <option>Arts & Sciences</option>
              <option>CICCT</option>
              <option>Nursing</option>
            </select>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="desig"><b>Subject:</b></label>
            <input type="text" class="form-control" id="desig">
          </div>

          <div class="form-group col-md-4">
            <label for="desig"><b>Offer Code:</b></label>
            <input type="text" class="form-control" id="desig">
          </div>

          <div class="form-group col-md-4">
            <label for="daysnum"><b>Time/Day:</b></label>
            <input type="text" class="form-control" id="daysnum">
          </div>
        </div>
        <p><b>This is to inform the IMS of the following activity/ies of my class to be conducted as specified:</p></b>

        <div class="form-row">
            <div class="form-group col-md-4">
              <label for="datestart"><b>From</b>:</label>
              <input type="date" class="form-control" id="datestart">
            </div>
            <div class="form-group col-md-4">
                <label for="dateEnd"><b>To:</b></label>
                <input type="date" class="form-control" id="dateEnd">
              </div>
            </div>
       
       
        <!-- Textarea -->
        <center>
        <div class="form-group">
        <label class="col-md-4 control-label" for="textarea"><b>Reasons:</b></label>
        <div class="col-md-8">                     
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
        </div>
        </div>
        </center>

        <center>
          <div class="form-group">
          <button type="submit" class="btn btn-info"><center>SUBMIT</center></button>
          </div>
        </center>


      </form>
    </form>
</div>
<!-------------------------------------------------------------------------------FOOOTER---------------------------------------------------------------------->
<div id="cardheader" class="card-header"></div>
  <footer id="pagefooter" class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">  
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <br>  
          <center><img src="img/logomain.png"></center> 
          <p></p>
          <h5 class="text-uppercase font-weight-bold"><center>USJR MIS</center></h5>
          <center>MIS-Based Document Resources<br> Management System</p></center><p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3">     
            <p></p>
            <br>
            <i id="home" class="fa fa-home" aria-hidden="true"></i> 
            Magallanes Street, 6000, Cebu City, Philippines <p></p>
            <i id="envelope" class="fa fa-envelope-open" aria-hidden="true"></i>
            &nbsp; external@usjr.edu.ph <p></p>
            <i id="phone" class="fa fa-phone" aria-hidden="true"></i>
            &nbsp;(63-32) 253-7900
          </div>
      </div>
    </div>
  </footer>
</body>
</html>