{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Registration</title>

<link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/fonts.css"></link>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</head>
<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="../login/login.html"><img src="{% static 'images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="../login/login.html">&nbsp;Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="../Sign-up (revised)/Sign-Up.html">&nbsp;Register</a>
              </li>

            
          </ul>
        </div>
      </nav>
</section>      

<!----------------------------------------------------------------GRID------------------------------------------------------------------------------------------>

<div class="container-fluid p-0"></div>

<div class = "col1"></div>
</div>
</div>  
<style>

.col1
{
  background: #FEC039;
  color: white;
  height: 8px;
}

</style>
 
    <div class="register-photo" style="height: 790px;background-color: rgb(227,229,231);">
        <div class="form-container">
            <form class="border rounded" method="post" style="color: rgb(80,94,108);">
                <h2 class="text-center"><strong>REGISTRATION</h2>
                <div class="form-group"><input class="border rounded form-control" type="text" required="" placeholder="ID Number" name="ID"></div>
                <div class="form-group"><input class="border rounded form-control" type="text" name = "full name" placeholder="Full Name" required="" pattern="^[a-zA-Z0-9_.-]*$"></div>
                <div class="form-group"><select class="border rounded form-control" type="text" name = "Status">
                    <option disabled selected hidden>Choose Status</option>
                    <option>VP Acadamics</option>
                    <option>Dean</option>
                    <option>Chairman</option>
                    <option>Department Head</option>
                    <option>President</option>
                    <option>Reads</option>
                    <option>Faculty</option>
                    <option>IMS</option>
                    <option>Accounting</option>
                    <option>Director</option>
                </select>
                </div>

                <div class="form-group"><select class="border rounded form-control" type="text" name = "Department">
                    <option disabled selected hidden>Choose Department</option>
                    <option>Engineering</option>
                    <option>Commerce</option>
                    <option>College of Arts and Sciences</option>
                    <option>Nursing</option>
                    <option>Law</option>
                    <option>Education</option>
                </select>
                </div>
                <div class="form-group"><input class="border rounded form-control" type="email" name= "email" placeholder="Email" required=""></div>
                <div class="form-group"><input class="border rounded form-control" type="text" name= "contact number" placeholder="Contact Number" required=""></div>
                <div class="form-group"><input class="border rounded form-control" id="myInput" type="password" name= "password" placeholder="Password (should contain atleast 1 capital letter and 1 number) minimum of 8 characters" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}"></div>
                <div class="form-group"><input class="border rounded form-control" id="myInput1" type="password" name= "password-repeat" placeholder="Confirm Password" required=""></div>
                <div class="form-group text-left "><input type="checkbox" onclick="myFunction()"> Show Password</div>
                <div class="form-group"><button id="btn" class="btn btn-info btn-block text-center border rounded" type="submit"><span>Register</span></button></div>
                <a class="text-center already" href="../login/login.html"><center>You already have an account? Login here.</center></a>
            </form>
        </div>
    </div>
    <script src="./Sign up_files/jquery-3.4.1.min.js.download"></script>
    <script src="./Sign up_files/bootstrap.min.js.download"></script>
    <script id="bs-live-reload" data-sseport="9929" data-lastchange="1594496350345" src="./Sign up_files/livereload.js.download"></script>
    <script>
        function myFunction() {
          var x = document.getElementById("myInput");
          var y = document.getElementById("myInput1");
          if (x.type === "password" || y.type === "pasword") {
            x.type = "text";
            y.type = "text";
          }
          else {
            x.type = "password";
            y.type = "password";
          }
        }
        </script>

<div class="card-header"></div>
<footer class="page-footer font-small pt-4">

   

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <br>  
         <center><img src="{% static 'images/logomain.png' %}"></center> 
         <p></p>
          <h5 class="text-uppercase font-weight-bold"><center>USJR MIS</center></h5>
        <center>MIS-Based Document Resources<br> Management System</p>
            
        </center><p>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <p></p>
          <br>
          <br>
          <i class="fa fa-home" aria-hidden="true"></i> 
           Magallanes Street, 6000, Cebu City, Philippines <p></p>
          <i class="fa fa-envelope-open" aria-hidden="true"></i>
          &nbsp; external@usjr.edu.ph <p></p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          &nbsp;(63-32) 253-7900
          <hr>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
  
  
  </footer>
  <!-- Footer -->
  

  <style>
      .card-header
      {
          background-color:#FEC039;
          height: 10px;

      }
      .page-footer
      {
          background-color:#0D3E21;
          color:rgb(240, 231, 231);
          height: 300xp;
          text-align: center;
          font-size: 20px;
      }
      .fa-home
      {
          font-size: 50px;
      }
      .fa-envelope-open
      {
        font-size: 40px; 
      }
      .fa-phone
      {
        font-size: 40px; 
      }
     hr
     {
         width: 10px;
         height: 5px;
     }
     .register-photo .form-container
   {
      display: table;
      max-width: 600px;
      width: 60%;

   
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    }
  </style>

</body></html>
