/*******************FORM**************/

.card {
  font-family: 'Mulish', sans-serif;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  }

  .profileDisplay {
    cursor: pointer;
}

.profileDisplay :hover {
    background: lightgray;
}

